<html>
    <head>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/vuex@4.0.0/dist/vuex.global.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.js"></script>
    </head>
    <body>
        <div id="app">
            <!-- Text der Angezeigt wird, wenn keine Todos vorhanden sind -->
            <div v-if="todos.length == 0">
                Es sind noch keine Todos Vorhanden
            </div>
            <!-- Tabelle mit allen Todos -->
            <h2>Alle Todos </h2>
            <ol>
              <my-list-item
                v-for="todo in todos" 
                :todo="todo"
                @delete="deleteListItem">
            </my-list-item>
            <!-- Tabelle mit den Fertigen Todos -->
            </ol>
            <h2>Fertige Todos {{ countDoneTodos }}</h2>
            <ol>
                <my-list-item
                    v-for="todo in doneTodos"
                    :todo="todo"    
                >

                </my-list-item>
            </ol>
            <!-- Textfeld, um neue Todos hinzuzufügen -->
            <input type="text" v-model="newTodo">
            <button v-on:click="addTodo">Todo hinzufügen</button>
            <br>
            <!-- Text -->
            {{ text }}
        </div>
        <script src="index.js"></script>
    </body>
</html>
    