<html>
    <head>
        <script src="https://unpkg.com/vue@next"></script>
    </head>
    <body>
        <div id="app">
            <div v-if="todos.length == 0">
                Es sind noch keine Todos Vorhanden
            </div>
            <ol>
                <my-list-item
                    v-for="todo in todos"
                    :todo="todo"
                    @delete="deleteListItem">
                </my-list-item>
            </ol>
            <input type="text" v-model="newTodo">
            <button v-on:click="addTodo">Todo hinzufügen</button>
        </div>
        <script src="index.js"></script>
    </body>
</html>
    